<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleep Tracker</title>
</head>
<body>
    <h1>This app will help me keep track of my sleep over time.</h1>
    <a href="/sleep"> Show me my sleep history</a>
</body>
</html>

