.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 10px;
    border: 1px solid blue;
}
.left {
    flex: 0.3;
    border: 2px solid green;
}

.right {
    flex: 0.7;
    padding-right: 20px;
    border: 2px solid yellow;
}

th{
    border: 1px solid black;
}